/**
 * Table styles
 */
table {
	
	width: 100%;
    font-size: 1.8em;
    margin: 20px auto;

    caption {
    	padding: 10px;
    	font-weight: $medium;
    	color: $black;
    }
	tr {

		background: $td;

		th, td {
			padding: 5px;
			word-break: break-all;
			display: block;
			border: 1px solid $white;
		}	

		th {
			font-weight: $bold;
		}

		td {
			
			border: 1px solid $white; 
		}

		&:nth-child(even) {
			
			background: $td_2;
			
		}
	}

	@media screen and (min-width: $tablet){
		tr {
			th,td {
				display: table-cell;
			}
			th[scope^="col"] {
				background: $th;
				color: $black;
			}
		}
	}
}